<div class="col-lg-12" [@fadeIn]>
  <a class="boton_activo btn btn-success" [@marcar]="state" (click)="cambiarEstado(state)">Activar Boton</a>


  <hr>

  <h4>Animaciones CSS 3 </h4>
  <a href="#" class="boton_transiciones">Transiciones</a>

  <div class="clearfix"></div>

  <div class="caja_animada">

  </div>

  <hr>
  <button id="botonJQ">JQuery</button>


  <hr>
  <div id="caja" style="width:150px; height: 50px; border:1px solid black;">
    Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba 
  </div>

  <simple-tiny
    [elementId]="'my-editor-id'"
    (onEditorKeyup)="keyupHandlerFunction($event)"
    >
  </simple-tiny>

  Padre:
  <h1>
    {{titulo}}
  </h1>
  <ul>
    <li>Camisa rosa</li>
    <li>Gorra rosa</li>
  </ul>

  <hr>
  <p>
  Resultado: {{nombreDelParque}}
  </p>
  <p>
  Resultado2: {{miParque | json}}
  </p>
  <br>
  Nombre del parques
  <input 
    type="text"
    (keyup)="mostrarNombre();"
    [(ngModel)]="nombreDelParque" >
  <hr>

  <span *ngIf="nombreDelParque">
    Hijo:
    <parques 
      [nombre]="nombreDelParque"
      [metros_cuadrados]="589"
      (pasameLosDatos)="verDatosParques($event)">
    </parques>
  </span>
</div>