
<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a [routerLink]="['/home']"
           class="navbar-brand">{{title}}!</a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a 
            [routerLink]="['/home']"
            [routerLinkActive]="['active']"
            >
            <span class="glyphicon glyphicon-home"></span>
            Inicio
          </a>
        </li>
        <li>
          <a 
              [routerLink]="['/animales']"
              [routerLinkActive]="['active']">
             <span class="glyphicon glyphicon-star"></span>
              Animales
          </a>
        </li>
        <li>
          <a 
            [routerLink]="['/cuidadores']"
            [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Cuidadores
            </a>
        </li>
        <li>
          <a 
            [routerLink]="['/tienda']"
            [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-gift"></span>
            Tienda
          </a>
        </li>
        <li>
          <a 
            [routerLink]="['/contacto']"
            [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-comment"></span>
            Contacto
          </a>
        </li>
        <li class="hidden">
          
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="col-lg-12">
  <router-outlet></router-outlet>
</div>



