<div class="col-lg-12" [@fadeIn]>
    <h1>{{title}}</h1>
    <main-email></main-email>
    <!--<input type="text" [(ngModel)]="emailContacto" />

    <button (click)="guardarEmail()">Guardar Email</button>-->
</div>