body{
    background: #eee;
}

.navigation.col-lg-12{
    margin-top: 10px;
}

.jumbotron{
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
}

.navbar-nav .active{
    border-bottom: 3px solid orange;    
}

.navbar-default .navbar-nav>li>a:hover{
    transition: all 200ms;
    border-bottom: 3px solid orange;
}

.boton_transiciones{
    padding: 10px;
    background: red;
    color: white;
    border-radius: 20px;
    border: 2px solid orange;    
    transition: border 2s, border-radius 500ms, background 5s;
    display: block;
    width: 100px;
}

.boton_transiciones:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
    border: 1px solid red;
    background: #ccc;
    border-radius: 2px;
}

.caja_animada{
    margin-top: 15px;
    background: green;
    border: solid 3px  black;
    width: 200px;
    height: 200px;
    /*animation-name: deslizamiento;*/
    /*animation-name: rotacion;    
    animation-duration: 10s;
    animation-iteration-count: infinite;*/
}

@keyframes rotacion{
    from {
        margin-left: 0px;
        transform: rotate(0deg);
    }
    to{
        margin-left: 600px;
        transform: rotate(360deg);
    }
}

@keyframes deslizamiento2{
    from {
        margin-left: 0px;
    }
    to{
        margin-left: 400px;
        background: red;
    }
}

@keyframes deslizamiento{
    0% {
        margin-left: 0px;
    }
    50%{
        margin-left: 400px;
        background: red;
    }
    75%{
        margin-left: 0px;
        background: yellow;
    }
    100%{
        margin-left: 0px;
        border-radius: 50%;
        background: green;
    }
}