<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p> Disfruta de los animales </p>
    <p>
      <a 
        class="btn btn-primary btn-lg" 
        [routerLink]="['/animales']">
        Ver Animales
      </a>

      <a 
        class="btn btn-success btn-lg" 
        [routerLink]="['/cuidadores']">
        Ver cuidadores
      </a>

      <a 
        class="btn btn-warning btn-lg" 
        [routerLink]="['/contacto']">
        Contacta con nosotros
      </a>
    </p>
  </div>
</div>
