<h3>{{title}}</h3>

<form>
    <p>
        <label>Nombre</label>
        <input type="text" class="form-control"/>
    </p>
    <p>
        <label>Descripcion</label>
        <textarea class="form-control"></textarea>
    </p>
    <p>
        <label>Año</label>
        <input type="text" class="form-control"/>
    </p>

    <input type="submit" value="Crear Nuevo" class="btn btn-success"/>
</form>