<h2>
  {{nombre}}
</h2>
<ol>
  <li>Metros: {{metros}}</li>
  <li>Vegetacion: {{vegetacion}}</li>
  <li>
    <span *ngIf="abierto">Abierto</span>
    <span *ngIf="!abierto">Cerrado</span>
  </li>
</ol>

<button (click)="emitirEvento()">Mostrar en el padre</button>
